In [43]:
import pandas as pd

In [44]:
df = pd.read_csv("etf.csv")

In [45]:
df.drop(df.columns[len(df.columns)-1], axis=1, inplace=True)
df.drop(df.columns[0], axis=1, inplace=True)

In [46]:
df[df.columns[:len(df.columns)-1]]

        SPY     QQQ   ARK G     VUG    SCHA    USMV
0     0.17%  -0.44%  -2.23%  -0.36%   0.40%  -0.05%
1     0.63%   0.63%   4.34%   0.84%   1.72%   0.34%
2    -0.49%   0.14%   0.57%   0.07%  -1.11%  -0.39%
3     0.81%   0.61%   0.39%   0.56%   0.37%   0.62%
4    -0.21%   0.01%   0.13%  -0.19%  -0.55%  -0.17%
..      ...     ...     ...     ...     ...     ...
315  -1.99%   1.29%  -0.62%   0.00%   2.25%   2.06%
316   0.02%   0.62%  -3.71%   2.25%   0.00%  -0.77%
317   1.65%   1.13%  -2.52%  -1.01%   3.42%   0.87%
318   1.21%   1.17%   1.48%   0.87%   0.18%   0.27%
319  -0.68%  -2.82%   2.31%   0.69%   2.48%   0.34%

[320 rows x 6 columns]

In [47]:
def f(row):
    x = max(row)
    cnt = 0
    for i in row:
        cnt += 1
        if i == x:
            return cnt

def p2f(x):
    return float(x.strip('%'))/100

In [48]:
df[df.columns[0:]] = df[df.columns[0:]].replace('[\%,]', '', regex=True).astype(float)
df

      SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU
0    0.17 -0.44  -2.23 -0.36  0.40 -0.05 -0.50
1    0.63  0.63   4.34  0.84  1.72  0.34  0.36
2   -0.49  0.14   0.57  0.07 -1.11 -0.39 -0.14
3    0.81  0.61   0.39  0.56  0.37  0.62  0.65
4   -0.21  0.01   0.13 -0.19 -0.55 -0.17  0.56
..    ...   ...    ...   ...   ...   ...   ...
315 -1.99  1.29  -0.62  0.00  2.25  2.06  2.05
316  0.02  0.62  -3.71  2.25  0.00 -0.77 -0.66
317  1.65  1.13  -2.52 -1.01  3.42  0.87  2.19
318  1.21  1.17   1.48  0.87  0.18  0.27  1.45
319 -0.68 -2.82   2.31  0.69  2.48  0.34  2.20

[320 rows x 7 columns]

In [49]:
df['C'] = df.apply(f, axis=1)

In [50]:
df = df.reindex(index=df.index[::-1])

In [51]:
df['C'] = df['C'].shift(-1)
df.tail(10)

    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
9  0.25  0.08  -1.96  0.09  0.31 -0.18 -0.46  6.0
8 -0.46 -1.10  -1.60 -0.94 -0.96  0.16 -0.87  3.0
7 -0.04  0.38   3.19  0.25  1.25 -0.24  1.08  5.0
6  0.41  0.18  -0.30  0.09  0.86  0.24  0.59  6.0
5 -0.49 -0.52  -0.79 -0.71 -0.53 -0.01 -0.68  7.0
4 -0.21  0.01   0.13 -0.19 -0.55 -0.17  0.56  1.0
3  0.81  0.61   0.39  0.56  0.37  0.62  0.65  3.0
2 -0.49  0.14   0.57  0.07 -1.11 -0.39 -0.14  3.0
1  0.63  0.63   4.34  0.84  1.72  0.34  0.36  5.0
0  0.17 -0.44  -2.23 -0.36  0.40 -0.05 -0.50  NaN

In [52]:
df.drop(df.tail(1).index,inplace=True)

In [53]:
df.tail(10)

     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
10  1.03  1.17  -0.57  1.53  0.56  1.03  0.06  5.0
9   0.25  0.08  -1.96  0.09  0.31 -0.18 -0.46  6.0
8  -0.46 -1.10  -1.60 -0.94 -0.96  0.16 -0.87  3.0
7  -0.04  0.38   3.19  0.25  1.25 -0.24  1.08  5.0
6   0.41  0.18  -0.30  0.09  0.86  0.24  0.59  6.0
5  -0.49 -0.52  -0.79 -0.71 -0.53 -0.01 -0.68  7.0
4  -0.21  0.01   0.13 -0.19 -0.55 -0.17  0.56  1.0
3   0.81  0.61   0.39  0.56  0.37  0.62  0.65  3.0
2  -0.49  0.14   0.57  0.07 -1.11 -0.39 -0.14  3.0
1   0.63  0.63   4.34  0.84  1.72  0.34  0.36  5.0

In [54]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(df[df.columns[:len(df.columns)-1]], df['C'])

In [55]:
clf.predict([[0.63, 0.63, 4.34, 0.84, 1.72, 0.34, 0.36]])

array([5.])

In [76]:
from sklearn import tree
cnt = 0
def backtest():
    cnt = 0
    for i in range(2, 50):
        modified_df = df.drop(df.tail(i).index,inplace=False) # drop last n rows
        actual = df.tail(i)
        actual = actual.head(1)
        clf = tree.DecisionTreeClassifier()
        clf = clf.fit(modified_df[modified_df.columns[:len(modified_df.columns)-1]], modified_df['C'])
        x = clf.predict(actual[actual.columns[:len(actual.columns)-1]])
#         print(modified_df)
        print(actual)
        print(int(x[0]))
        if int(actual['C']) == int(x[0]):
            cnt += 1
    return cnt
       
backtest()

    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
2 -0.49  0.14   0.57  0.07 -1.11 -0.39 -0.14  3.0
3
    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
3  0.81  0.61   0.39  0.56  0.37  0.62  0.65  3.0
4
    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
4 -0.21  0.01   0.13 -0.19 -0.55 -0.17  0.56  1.0
3
    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
5 -0.49 -0.52  -0.79 -0.71 -0.53 -0.01 -0.68  7.0
6
    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
6  0.41  0.18   -0.3  0.09  0.86  0.24  0.59  6.0
2
    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
7 -0.04  0.38   3.19  0.25  1.25 -0.24  1.08  5.0
3
    SPY  QQQ  ARK G   VUG  SCHA  USMV   VEU    C
8 -0.46 -1.1   -1.6 -0.94 -0.96  0.16 -0.87  3.0
2
    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
9  0.25  0.08  -1.96  0.09  0.31 -0.18 -0.46  6.0
7
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
10  1.03  1.17  -0.57  1.53  0.56  1.03  0.06  5.0
3
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
11  0.21  0.66   -1.1  0.72 -1.27  0.32  0.13  4.0
6
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
12  0.81  0.77   1.47  0.68  1.57  0.05  1.28  4.0
2
     SPY   QQQ  ARK G   VUG  SCHA  USMV  VEU    C
13  1.43  1.16   2.78  1.57  3.16  0.82  0.6  5.0
4
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
14 -1.48 -0.82   0.78 -1.23 -1.55 -0.93 -1.73  5.0
5
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
15 -0.78 -0.81   0.61 -0.66  -1.2  0.12 -0.79  3.0
2
     SPY  QQQ  ARK G   VUG  SCHA  USMV  VEU    C
16 -0.34 -0.7  -0.96 -0.54 -0.57  0.09 -0.6  3.0
5
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
17  0.15  0.18   -3.7  0.13 -1.52  0.36  0.27  6.0
5
     SPY  QQQ  ARK G   VUG  SCHA  USMV   VEU    C
18 -0.34  0.0   -2.4 -0.17 -1.87 -0.21 -0.32  6.0
3
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
19  0.36  0.39  -1.66  0.22  0.15  0.03  0.22  2.0
3
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
20  1.07  0.62   1.48  0.78   2.1   0.7  1.83  2.0
3
     SPY  QQQ  ARK G   VUG  SCHA  USMV   VEU    C
21 -0.81 -0.6  -0.02 -0.72 -0.86 -0.65 -1.61  5.0
7
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
22  0.35  0.21  -2.18  0.19 -0.79   0.6  0.37  3.0
2
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
23 -0.18  0.43  -1.47  0.63  -1.2 -0.01 -1.01  6.0
2
    SPY   QQQ  ARK G  VUG  SCHA  USMV  VEU    C
24  0.0  1.15    0.0  0.0   0.0   0.0  0.0  4.0
1
    SPY   QQQ  ARK G  VUG  SCHA  USMV  VEU    C
25  0.0  0.04    0.0  0.0   0.0   0.0  0.0  2.0
2
    SPY   QQQ  ARK G  VUG  SCHA  USMV  VEU    C
26  0.0 -0.16    0.0  0.0   0.0   0.0  0.0  2.0
7
     SPY   QQQ  ARK G   VUG  SCHA  USMV  VEU    C
27  0.76  0.36  -0.89  1.11  -0.8  0.62  0.2  1.0
7
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
28  0.55  1.22   0.39  0.18  0.64  0.61  0.08  4.0
3
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
29  0.08 -0.12  -0.64 -0.15  0.08 -0.08 -0.75  2.0
2
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
30  0.05  0.62    0.1  0.29 -0.39 -0.04 -0.05  1.0
6
    SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
31  0.2  0.05   3.25  0.81 -0.72  0.19 -0.37  2.0
1
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
32  0.36  0.93   0.51  0.17  0.46  0.66  0.38  3.0
5
     SPY  QQQ  ARK G   VUG  SCHA  USMV   VEU    C
33  0.59  0.5   1.24  0.39   1.1  0.65  0.95  2.0
2
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
34 -0.12 -0.78   0.96  0.07  0.12 -0.51 -0.28  3.0
5
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
35  0.53  1.27    0.3  1.04  0.38   0.3 -0.09  3.0
5
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
36  1.43 -0.37   0.92  0.85  2.24  1.28  0.32  2.0
5
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
37 -1.67 -0.65  -0.62 -0.71   0.0 -1.16 -1.65  5.0
3
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
38 -0.03  0.96   2.52  1.26   0.0  0.25 -0.37  5.0
2
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
39 -0.56  0.26  -0.62 -0.38 -2.21 -0.79 -0.86  3.0
3
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
40 -0.18  1.04  -2.33 -0.57 -1.23 -0.37 -0.12  2.0
2
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
41  0.22  0.02   0.76  0.87  -0.3  0.16  0.23  2.0
7
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
42  0.17  0.05  -0.44  0.37  -0.2 -0.12  0.06  4.0
2
     SPY  QQQ  ARK G   VUG  SCHA  USMV   VEU    C
43  0.46  0.3   2.71  0.95 -0.49  0.55  0.42  4.0
2
     SPY  QQQ  ARK G   VUG  SCHA  USMV   VEU    C
44 -0.15  1.7   1.24  0.02  0.93  0.21 -0.29  3.0
3
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
45  0.02 -1.04   0.99  0.11  -0.5 -0.12 -0.25  2.0
2
    SPY  QQQ  ARK G   VUG  SCHA  USMV   VEU    C
46 -0.1  0.2   3.56  0.19 -0.75 -0.07  0.11  3.0
5
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
47  0.91 -0.33    1.4  1.36  1.14  0.76  0.98  3.0
4
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
48 -0.37  0.32  -2.33 -0.93  1.13 -0.04 -0.74  3.0
6
     SPY   QQQ  ARK G   VUG  SCHA  USMV   VEU    C
49  0.16 -0.37  -0.28  0.11  0.43  0.33  0.26  5.0
2

9